.checkout-tittle{
    font-size: 36px;
    font-weight: 700;
    padding-top: 70px;
}
.checkout-table{
    margin-top: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.checkout-table thead{
    border-bottom: 1px solid rgb(214, 214, 214);
}
.checkout-table thead tr{
    width: 100%;
}
.checkout-table thead tr th{
    font-size: 20px;
    color: #023047;
}
.checkout-table thead tr th:nth-child(1){
    width: 45%;
    padding: 20px 0;
    padding-left: 20px;
}
.checkout-table thead tr th:nth-child(2){
    width: 5%;
    text-align: center;
    padding: 20px 0;
}
.checkout-table thead tr th:nth-child(3){
    width: 50%;
    text-align: right;
    padding: 20px 0;
    padding-right: 20px;
}
.checkout-table tbody tr td{
    font-size: 20px;
    font-weight: 700;
    color: #023e8a;
}
.checkout-table tbody tr td p{
    margin-bottom: 0;
}
.checkout-table tbody tr td:nth-child(1){
    padding: 20px 0;
    padding-left: 20px;
}
.checkout-table tbody tr td:nth-child(2){
    padding: 20px 0;
    text-align: center;
}
.checkout-table tbody tr td:nth-child(3){
    padding: 20px 0;
    text-align: right;
    padding-right: 20px;
}
.checkout-table tfoot{
    border-top: 1px solid rgb(214, 214, 214);
}
.checkout-table tfoot tr td{
    font-size: 20px;
    font-weight: 700;
    color: #023e8a;
}
.checkout-table tfoot tr td:nth-child(1){
    width: 45%;
    padding: 20px 0;
    padding-left: 20px;
}
.checkout-table tfoot tr td:nth-child(2){
    width: 5%;
}
.checkout-table tfoot tr td:nth-child(3){
    width: 50%;
    text-align: right;
    padding: 20px 0;
    padding-right: 20px;
}
.checkout-btn{
    padding-top: 20px;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 100px;
}
@media (min-width: 576px) and (max-width: 768px){
    .checkout-btn{
        text-align: center;
    }
}
@media (max-width: 575.98px){
    .checkout-btn{
        text-align: center;
    }
}